.sidenav {
    background-color: white !important;
    width: 19rem;
    padding: 1rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
}

/* *************************Card******************************** */
.card {

    width: 46.5rem;
    max-width: 46.5rem;
    background-color: white !important;
    display: grid;
    place-items: center;
    padding-block: 1rem;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.avatar {
    display: grid;
    place-content: center;
}

.avatar>img {
    width: 40px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
}

.tweet__image>img {
    width: 44rem;
    height: 20rem;
    border-radius: 8px;
}

.actions {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-inline: 2rem;
}

.actions__list__items {
    color: #4F4F4F;
    font-size: 14px;
    padding: .5rem 1.2rem;
}

.actions__list>li {
    padding: .3rem .7rem;
}


.actions__list__items:hover {
    background-color: #F2F2F2;
    border-radius: 8px;

}

.comment__input {
    position: relative;
}

.comment__input>input {
    padding-block: .7rem;
    padding-inline: .4rem;
    width: 40.55rem;
    border-radius: 8px;
    border: 1px solid #F2F2F2;
    background-color: #FAFAFA;
}

.comment__input>input:focus-visible {
    outline: 1px solid #7CB9E8;
}

::placeholder {
    color: #BDBDBD;
    padding-inline: .7rem;
}

.insert-photo {
    border: none;
}

.insert-photo>svg {
    position: absolute;
    right: .6rem;
    top: .5rem;
    color: #BDBDBD;

}

.comment__input [type="file"] {
    width: 1rem;
    position: absolute;
    top: .6rem;
    right: .9rem;
    z-index: 4;
    opacity: 0;
}

/* ****************************************************************************** */


.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: chocolate; */
    justify-items: center;
   padding-inline: 9rem;
   column-gap:2rem;
}
.comment-card-cont{
    justify-self: flex-start;
    padding-inline:1.2rem
}

.comment-card .avatar{
    align-self:flex-start
}
